.place__image{
  /*border: 1px solid lightskyblue;*/
  grid-area: image;
  max-height: 460px;
  max-width: 100%;
  object-fit: cover;
}

@media  screen and (max-width: 1030px){
  .place__image{
    max-height: 440px;
  }
}

<<<<<<< HEAD:blocks/place/__image/place__image.css
@media  screen and (max-width: 774px){
=======
@media  screen and (max-width: 790px){
>>>>>>> 2722f85f9071e296cd4f351c1b63619628402081:блоки/разместить/__изображение/place__image.css
  .place__image{
    max-height: 340px;
  }
}

@media  screen and (max-width: 568px){
  .place__image{
    margin: 0 auto;
  }
}
