.page{
  background-color: #2a2c2f;
  /* Варвара, простите меня, пожалуйста, но я не смог увидеть белых полей
  на экране с размером и больше 1600рх, у меня же даже за внешними границами
  этого блока цвет такой же #2a2c2f. По-этому я написал, что исправил, хотя 
  целенаправленно с фоном никаких действий не совершал. Ещё раз извините.*/
  color: #fff;
  font-weight: 400;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  /*border: 1px solid rgb(117, 158, 255);*/
  font-family: Inter, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 28px 0 24px;
}

@media  screen and (max-width: 568px){
  .page{
    padding: 16px 0 24px;
  }
}