.page{
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "header"
  "content"
  "footer";
}