.intro__item{
  /*border: 1px solid rgb(255, 0, 204);*/
  padding: 0 100px;
}

@media  screen and (max-width: 1124px){
  .intro__item{
    padding: 0 0 0 48px;
  }
}

@media  screen and (max-width: 984px){
  .intro__item{
    padding: 0 24px;
  }
}

@media  screen and (max-width: 568px){
  .intro__item{
    padding: 16px;
  }
}