.place__image{
  /*border: 1px solid lightskyblue;*/
  grid-area: image;
  max-height: 460px;
  max-width: 460px;
  max-width: 100%;
  object-fit: cover;
}

@media  screen and (max-width: 568px){
  .place__image{
    margin: 0 auto;
  }
}