.logo_place_header{
  border: 1px solid rgb(106, 2, 252);
  min-width: 176px;
  min-height: 52px;

  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media  screen and (max-width: 568px){
  .logo_place_header{
    min-width: 142px;
    min-height: 42px;
  }
}