.place__paragraphs{
  /*border: 1px solid white;*/
  grid-area: paragraphs;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  padding: 0;
}

@media  screen and (max-width: 894px){
  .place__paragraphs{
    line-height: 26.08px;
    font-size: 16px;
  }
}

@media  screen and (max-width: 568px){
  .place__paragraphs{
    margin: 0 16px;
  }
}