.footer__links{
  /*border: 1px solid white;*/
  display: flex;
  flex-wrap: wrap;
}

@media  screen and (max-width: 568px){
  .footer__links{
    flex-direction: column;
    justify-content: flex-start;
  }
}