.place{
  border: 1px solid blue;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2,minmax(min-content, max-content));
  grid-template-areas: 
  "title link"
  "image paragraphs"
  ;
  margin-bottom: 80px;
}

.place:last-child{
  margin: 0;
}